.calcContainer {
  height: 75%;
  width: 40%;
  background-color: #828282;
  margin-top: 50px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 10px 16px -6px rgb(51, 51, 51);
}

@media (max-width:800px) {
    .calcContainer{
        width: 90%
    }
    
}

.buttonContainer {
margin-top: 10%;
  height: 55%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.btnRow {
  display: flex;
  height: 20%;
  margin-top: 15px;
  justify-content: space-evenly;
}

.clearBtn{
    margin-top:6%;
    width: 60%;
    height: 6%;
    color: #b83939 !important;
    border-color: #d9544d !important;
}

.clearBtn:hover{
    color: #fff !important;
    border-color: #d9544d !important;
    background-color: #b83939 !important;
}

