.screen {
  background: rgb(167, 186, 112);
  box-shadow: inset 1px 1px 6px 0px #050505, 0px 0px 4px 2px #000,
    inset 0px 0px 4px 2px #777;
  height: 15%;
  width: 85%;
  margin-top: 30px;
  border-radius: 25px;
  font-size: 400%;
  display:flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 5%;
}
