.calcButton {
  height: 8vh;
  width: 8vh;
  text-align: center;
  vertical-align: middle;
  line-height: 8vh;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  cursor: pointer;
  border-radius: 25px;
  font-size: 400%;
}


.light{
  background-color: #aaaaaa;
}

.dark{
  background-color: #424242;
  color: white;
  
}
